<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Corp</key>
	<string>127.0.0.1</string>
	<key>Google</key>
	<string>8.8.8.8</string>
	<key>Staging</key>
	<string>127.0.0.1</string>
	<key>Staging-Akamai</key>
	<string>127.0.0.1</string>
	<key>Testing</key>
	<string>127.0.0.1</string>
	<key>Testing-Akamai</key>
	<string>127.0.0.1</string>
	<key>Dev</key>
	<string>127.0.0.1</string>
	<key>Local</key>
	<string>127.0.0.1</string>
</dict>
</plist>
